---
interface Props {
  button?: boolean;
  href: string;
  imgLink?: string;
  siteLink?: string;
  title?: string;
}

import { Image } from "astro:assets";
import Button from "../../../Button/button.astro";
import Icon from "astro-icon";
const { button = true, href, imgLink, siteLink, title } = Astro.props as Props;
---

<div class="book-card sm:max-w-xs sm:mx-auto block relative">
  <!-- <a rel="nofollow" target="_blank" href={siteLink}> -->
  <div class="flex justify-center">
    <slot>
      <a href={siteLink} target="_blank" rel="nofollow"
        ><img width="165" height="250" src={imgLink} alt={title} /></a
      >
    </slot>
  </div>
  <!-- <Image
      width="2000"
      height="2000"
      class="book-cover"
      quality={100}
      src={imgLink}
      alt="Book Cover"
    /> -->
  <div class=`'!w-full' self-center`>
    {
      button && (
        <div class="mt-5 flex justify-center">
          <Button newTab noFollow href={href} customIcon>
            Buy on Amazon
            <Fragment slot="icon">
              <Icon name="ri:amazon-fill" />
            </Fragment>
          </Button>
        </div>
      )
    }
  </div>
  <!-- </a> -->
</div>

<style>
  .book-card {
    z-index: 10;
    color: #000000;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 30px;
    text-align: center;
  }
  .book-cover {
    max-width: 100%;
    margin: 0 auto;
  }

  @media screen and (min-width: 400px) {
    .book-cover {
      max-width: 170px;
      margin: 0 auto;
    }
  }

  .book-title {
    font-weight: bold;
    margin: 10px 0 !important;
  }

  .book-author {
    color: #414141;
    margin: 5px 0;
  }

  .book-delivery {
    margin: 5px 0;
    font-size: 0.8rem;
  }

  .book-price {
    color: green;
    margin: 10px 0;
    font-weight: bold;
  }
</style>
