---
import settings from "../../config/settings.js";

import "../../styles/index.css";

export interface Props {
  title?: string;
  description?: string;
  canonicalURL?: URL | string;
  image?: string;
  // schema?: string;
}

const title = Astro.props.title || settings.title;
const description = Astro.props.description || settings.description;
const canonicalURL =
  Astro.props.canonicalURL || new URL(Astro.url.pathname, Astro.site);
const image = new URL(Astro.props.image || "./sib.png", Astro.site);
// const schema = Astro.props.schema;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta
  name="google-site-verification"
  content="jMvhivQaZAanapN8igAh4pFh-9uET4KJAZTDorqPNz0"
/>
<meta name="robots" content="index, follow" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" href="/favicon.ico?v=2" type="image/x-icon" />
<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="
  title" content={title} />
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />
<!-- Generator -->
<meta name="generator" content={Astro.generator} />
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<link rel="sitemap" href="/sitemap-index.xml" />

<!-- For Demonstration of the themes -->

<!-- Google Analytics -->
<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-WTHWTPNS");
</script>
<!-- End Google Tag Manager -->
