---
import { Footer } from "@littlesticks/odyssey-theme-components";
import Layout from "./Base.astro";
import type { Props as BaseHeadProps } from "../components/head/BaseHead.astro";
import Logo from "../components/Logo.astro";
import settings from "../config/settings";
import { footerLists, footerSocials } from "../config/footer";
import Nav from "../components/Navbar/Nav.astro";

export interface Props {
  seo?: BaseHeadProps;
  announcementBar?: boolean;
}

import { nav } from "../config/nav.js";

const { seo, announcementBar } = Astro.props as Props;
---

<Layout {seo}>
  {announcementBar && <slot slot="announcement-bar" name="announcement-bar" />}

  <Nav navData={nav} slot="header">
    <Logo />
  </Nav>

  <div id="page">
    <slot />
  </div>
  <Footer
    slot="footer"
    background="var(--theme-surface-1)"
    color="var(--theme-on-surface-1)"
    {footerLists}
    {footerSocials}
    copyrightName={settings.name}
    showLittleSticksPlug={settings.showLittleSticksPlug}
  >
    <Logo slot="logo" />
  </Footer>
</Layout>
